@charset "utf-8";
/* CSS Document */

#SClogo {
	float:left;
	border:solid black 1px;
}
#CNEXlogo {
	float:right;
	border:solid black 1px;
}
#naslov {
	font-size: 30px;
	color: #00e7ff;
	text-transform: uppercase;
	text-shadow: 0 0 0 #00E0FF, 0 0 11px #00A0B6;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	line-height: 50px;
	font-family: "Electrolize";
	font-weight: normal;
	margin-left: 60px;
}


#nav_circle {
	position: absolute;
	z-index: 3;
}

.nav_img {
	position: relative;
	width:348px;
	height:40px;
	vertical-align: top;
}
.nav_text_L {
	font-size: 20px;
	position: absolute;
	top:10px;
	left: 120px;
	z-index: 4;
	color:#BDF7FD;

}
.nav_text_R {
	font-size: 20px;
	position: absolute;
	top:10px;
	left: 220px;
	color:#BDF7FD;
	z-index: 4;
	
}


