@charset "utf-8";
/* CSS Document */

#SClogo {
	float:left;
	border:solid black 1px;
}
#CNEXlogo {
	float:right;
	border:solid black 1px;
}
#naslov {
	width:814px;
	line-height:50px;
	font-size: 30px;
	text-align:center;
	margin-left:60px;
}

#nav_circle {
	position: absolute;
	z-index: 3;
}

.nav_img {
	position: relative;
	width:348px;
	height:40px;
	vertical-align: top;
}
.nav_text_L {
	font-size: 20px;
	position: absolute;
	top:10px;
	left: 120px;
	color:#BDF7FD;
	z-index: 4;
}
.nav_text_R {
	font-size: 20px;
	position: absolute;
	top:10px;
	left: 220px;
	color:#BDF7FD;
	z-index: 4;
	
}


