@charset "utf-8";
/* CSS Document */

a:link, a:visited {
	text-decoration: none;
	color: #0000FF;
}
.cl {
	width: 100 %;
	clear: both;
	height: 1px;
}

body {
	margin: 8px 0px;
	/* background-color:#003; */
	background-color:#000;
	font-family: 'Electrolize', sans-serif;
	/*background-image:url(../src/background.png);
	background-repeat: no-repeat;
	background-position:center;*/
	background:url(../gridbg.png) repeat center fixed, url(../noisebg.gif) repeat center fixed;
	background-position-x: 50%;
	background-position-y: 50%;
}

.head_container {
	height: 52px;
	width:100%;
	/*background-image: -ms-linear-gradient(top left, #000000 0%, #000000 10%, #0C0C7C 100%);
	background-image: -moz-linear-gradient(top left, #000000 0%, #000000 10%, #0C0C7C 100%);
	background-image: -o-linear-gradient(top left, #000000 0%, #000000 10%, #0C0C7C 100%);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #000000), color-stop(0.1, #000000), color-stop(1, #0C0C7C));
	background-image: -webkit-linear-gradient(top left, #000000 0%, #000000 10%, #0C0C7C 100%);
	background-image: linear-gradient(to bottom right, #000000 0%, #000000 10%, #0C0C7C 100%);*/
	background-image:url(../src/stripes.png);
	background-repeat: repeat;
	background-position:center;
}

.header {
	width:90%;
	margin: auto;
	/*border-radius: 15px;
	overflow:hidden; */
	color:#BDF7FD;
	min-width: 650px;
	max-width: 2000px;
}

.main_container {
	width:90%;
	/*background-color:#0C0C7C;*/
	margin-left:auto;
	margin-right:auto;
	color:#BDF7FD;
	min-width: 650px;
	max-width: 2000px;
}

#nav_tab {
	margin: auto;
	width: 833px;
	height: 137px;
	border: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
}
#nav_tab td, table th {
	padding: 0px;
}
#nav_tab img {
	position: relative;
}

.main_content {
	margin: auto;
	border: solid black 2px; /* #4DE8F9 */
	/*border-radius: 10px;*/
	background: rgba(7, 9, 65, 0.9);  /* starije */
	background: rgba(20, 28, 90, 0.3);
	padding: 20px 20px;
	text-align: justify;
}

.main_left {
	width: 58%;
	float: left;
	position: relative;
}
.main_right {
	width: 38%;
	float:right;
	position: relative;
}

.footer {
	text-align: right;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-top: 5px;
}