@charset "utf-8";
/* CSS Document */

#SClogo {
	float:left;
	border:solid black 1px;
}
#CNEXlogo {
	float:right;
	border:solid black 1px;
}
#naslov {
	width:814px;
	line-height:50px;
	font-size: 30px;
	text-align:center;
	margin-left:60px;
}

#nav_circle {
	position: absolute;
	z-index: 3;
}

.nav_img {
	position: relative;
	width:348px;
	height:40px;
	vertical-align: top;
}
.nav_text_L {
	font-size: 20px;
	position: absolute;
	top:10px;
	left: 120px;
	color:#BDF7FD;
	z-index: 4;
}
.nav_text_R {
	font-size: 20px;
	position: absolute;
	top:10px;
	left: 120px;
	color:#BDF7FD;
	
}

.fadeThis {
	position: absolute;
	left: 0px;
	top: 0px;
	display:block;
	background-image: url(../images/TL.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	/* width: 348px; */
	width: 400px;
	height: 40px;
	z-index: 1;
}

.hover {
	position: absolute;
	display:block;
	background-image: url(../images/TL.png);
	background-repeat: no-repeat;
	background-position: 0px -40px;
	width: 400px; 
	height: 40px;
	z-index: 2;
	
  	/*-webkit-transition: opacity 0.2s ease-in-out;
  	-moz-transition: opacity 0.2s ease-in-out;
  	-o-transition: opacity 0.2s ease-in-out;
  	transition: opacity 0.2s ease-in-out;*/
}
